<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/858b52eeaa.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header"><div class="logo-buscador"><img class="logo" src="images/logo-mercado-liebre.svg" alt="logo">
        <div class="buscador"><input type="text" name="search" class="buscador-ancho" required placeholder="Buscar productos, marcas"><i class="fa-solid fa-magnifying-glass formato-lupa"></i></div></div>
        <div class="texto-centrado"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</div></div>

        <br>

        <nav>
            <div>Ofertas</div>
            <div>Tiendas Oficiales</div>
            <div>Vender</div>
            <div>Ayuda</div>
            <br>
            <a href="/register.html"><div>Creá tu cuenta <i class="fa-regular fa-id-card"></i></div></a>
            <a href="/login.html"><div>Ingresá <i class="fa-solid fa-right-to-bracket"></i></div></a>
            <div>Mis compras <i class="fa-solid fa-basket-shopping"></i></div>
        </nav>

        <br>

        <div class="burger-menu">
            <i class="fas fa-bars fondo-azul texto-blanco"></i>
            </div>
        <br>
        <img src="images/img-home-banner.jpg" alt="banner" style="width: 100%;">
    </header>    

    <main>
        <h1>Basado en tu última visita</h1>
        <section>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="borde-precio"><i class="fa-solid fa-truck logo-envios"></i>
                <div class="precio-y-descuento"><h2>$6.770</h2>
                <h3 class="texto-verde">40% off</h3></div>
                <div class="descripcion">Cafetera Moulinex</div></div>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="mcbook">
                <div class="borde-precio"><i class="fa-solid fa-truck logo-envios"></i>
                <div class="precio-y-descuento"><h2>$230.000</h2>
                <h3 class="texto-verde">20% off</h3></div>
                <div class="descripcion">MacBook Pro 2019</div></div>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung">
                <div class="borde-precio"><i class="fa-solid fa-truck logo-envios"></i>
                <div class="precio-y-descuento"><h2>$70.500</h2>
                <h3 class="texto-verde">10% off</h3></div>
                <div class="descripcion">Samsung Galaxy S10</div></div>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="smart">
                <div class="borde-precio"><i class="fa-solid fa-truck logo-envios"></i>
                <div class="precio-y-descuento"><h2>$23.200</h2>
                <h3 class="texto-verde">5% off</h3></div>
                <div class="descripcion">SmartTv Samsung 43''</div>
            </div>
            </article>
        </section>

        <h1>Ofertas</h1>
        <section>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="borde-precio"><i class="fa-solid fa-truck logo-envios"></i>
                <div class="precio-y-descuento"><h2>$6.770</h2>
                <h3 class="texto-verde">40% off</h3></div>
                <div class="descripcion">Cafetera Moulinex</div></div>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="mcbook">
                <div class="borde-precio"><i class="fa-solid fa-truck logo-envios"></i>
                <div class="precio-y-descuento"><h2>$230.000</h2>
                <h3 class="texto-verde">20% off</h3></div>
                <div class="descripcion">MacBook Pro 2019</div></div>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung">
                <div class="borde-precio"><i class="fa-solid fa-truck logo-envios"></i>
                <div class="precio-y-descuento"><h2>$70.500</h2>
                <h3 class="texto-verde">10% off</h3></div>
                <div class="descripcion">Samsung Galaxy S10</div></div>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="smart">
                <div class="borde-precio"><i class="fa-solid fa-truck logo-envios"></i>
                <div class="precio-y-descuento"><h2>$23.200</h2>
                <h3 class="texto-verde">5% off</h3></div>
                <div class="descripcion">SmartTv Samsung 43''</div></div>
            </article>
        </section>
    </main>

    <footer>
        <div class="footer">
                <div><i class="fa-solid fa-credit-card formato-iconos"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer">
            <div><i class="fa-solid fa-gift formato-iconos"></i></div>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </div>
        

        <div class="footer">
            <div><i class="fa-solid fa-user-shield formato-iconos"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </div>

        <div style="text-align:center"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>

    </footer>

</body>
</html>