<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/858b52eeaa.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header"><div class="logo-buscador"><img class="logo" src="images/logo-mercado-liebre.svg" alt="logo">
        <div class="buscador"><input type="text" name="search" class="buscador-ancho" required placeholder="Buscar productos, marcas"><i class="fa-solid fa-magnifying-glass formato-lupa"></i></div></div>
        <div class="texto-centrado"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</div></div>

        <br>

        <nav>
            <div>Ofertas</div>
            <div>Tiendas Oficiales</div>
            <div>Vender</div>
            <div>Ayuda</div>
            <br>
            <a href="/register.html"><div>Creá tu cuenta <i class="fa-regular fa-id-card"></i></div></a>
            <a href="/login.html"><div>Ingresá <i class="fa-solid fa-right-to-bracket"></i></div></a>
            <div>Mis compras <i class="fa-solid fa-basket-shopping"></i></div>
        </nav>

        <br>

        <div class="burger-menu">
            <i class="fas fa-bars fondo-azul texto-blanco"></i>
            </div>
        <br>
        <img src="images/img-home-banner.jpg" alt="banner" style="width: 100%;">
    </header> 

    <main>
        <form action="/register.html" method="post" class="registro">
            <div>
                <input type="text" id="nombreyapellido" class="box" name="nombreyapellido" placeholder="Nombre y apellido"></div>
            </div>
            <div>
                <input type="text" id="nombredeusuario" class="box" name="nombredeusuario" placeholder="Nombre de usuari@"></div>
            </div>
            <div>
                <input type="email" id="email" class="box" name="email" placeholder="E-mail"></div>
            </div>
            <div>
                <strong><label for="fechanacimiento">Fecha de nacimiento</label></strong><br>
                <input class="box" type="date" id="fechanacimiento" name="fechanacimiento" placeholder="Fecha de nacimiento"></div>
            </div>
            <div>
                <input type="text" id="domicilio" class="box" name="domicilio" placeholder="Domicilio"></div>
            </div>
            <div>
            <strong>Perfil de usuario</strong><br>
            <input type="radio" id="radioComprar" name="perfil-usuario" value="Comprar">
            <label for="radioComprar">Comprar</label>

            <input type="radio" id="radioVender" name="perfil-usuario" value="Vender">
            <label for="radioVender">Vender</label>
            </div>
            <div>
                <strong>Intereses</strong><br>
                <input type="checkbox" id="chkElectro" name="categoria-interes" value="Electro">
                <label for="chkElectro">Electro</label><br>

                <input type="checkbox" id="chkModa" name="categoria-interes" value="Moda">
                <label for="chkModa">Moda</label><br>

                <input type="checkbox" id="chkHogar" name="categoria-interes" value="Hogar">
                <label for="chkHogar">Hogar</label><br>

                <input type="checkbox" id="chkJugueteria" name="categoria-interes" value="Jugueteria">
                <label for="chkJugueteria">Jugueteria</label><br>

                <input type="checkbox" id="chkVidaSama" name="categoria-interes" value="Vida Sana">
                <label for="chkVidaSana">Vida Sana</label>
            </div>
            <div>
                <label for="archivo">Subí tu foto de usuario:</label><br>
                <input type="file" id="archivo" accept=".jpg, .png">
            </div>
            <div>
                <input type="password" id="contrasena" name="contrasena"></div>
            </div>
            <div>
                <input type="password" id="contrasena" name="contrasena" placeholder="Confirmar contraseña"></div>
            </div>
            <div>
                <button type="submit">Enviar</button>
            </div>
            <div>
                <button type="reset">Borrar todo</button>
            </div>
        </form>      
    </main>

    <footer>
        <div class="footer">
                <div><i class="fa-solid fa-credit-card formato-iconos"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer">
            <div><i class="fa-solid fa-gift formato-iconos"></i></div>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </div>
        

        <div class="footer">
            <div><i class="fa-solid fa-user-shield formato-iconos"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </div>

        <div style="text-align:center"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>

    </footer>

</body>
</html>